apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-hw-service-auth

spec:
  selector:
    env: hw-auth
  ports:
    - protocol  : {{ .Values.ports.protocol }}
      port      : {{ .Values.ports.port }}
      targetPort: {{ .Values.container.appAuth.containerPort }}
  type: ClusterIP

---

apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-hw-service-service

spec:
  selector:
    env: hw-service
  ports:
    - protocol  : {{ .Values.ports.protocol }}
      port      : {{ .Values.ports.port }}
      targetPort: {{ .Values.container.appService.containerPort }}
  type: ClusterIP

---

apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-postgres-svc

spec:
  selector:
    env: postgres-app
  ports:
    - port      : {{ .Values.container.postgres.containerPort }}
      targetPort: {{ .Values.container.postgres.containerPort }}